body {
  min-height: calc(100vh - 100px);
  margin: 0;
  /* background: linear-gradient(40deg, #181718, #3b0850); */
  background: linear-gradient(40deg, #e06704, #482c6d);
  background-position: 95% 90%;
  background-repeat: no-repeat;
  font-family: Arial, Helvetica, sans-serif;
  padding: 50px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

canvas {
  background-color: white;
  border: 20px ridge #33995d;
}
